node_modules

/.cache
.env
.react-router

# Local Netlify folder
.netlify
test-results
playwright-report
.DS_Store
public/mockServiceWorker.js
build/
supabase/.temp/

# Sentry Config File
.env.sentry-build-plugin
