

.input {
  border: 1px solid transparent;
  border-bottom: 1px dotted currentColor;
  grid-column: input;
  padding: 0.5em;
}


.delete {
  display: flex;
  place-content: center;
  margin: 0;
  padding: 0;
}
.tick {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.tick:hover {
  opacity: 0.6;
}

.tick:active {
  opacity: 0.2;
}

.showTick {
  opacity: 1;
  transform: scale(1);
  transition: 0.3s all cubic-bezier(0.51, 1.31, 0.37, 1.23);
}

.wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 3;
}
