/* .clickable {
  padding: 0.3em 0.5em;
  text-decoration: none;
  outline: 2px solid currentColor;
  min-width: 0;
  width: max-content;
  border-radius: 3px;
  background: none;
  &:hover {
    opacity: 0.8;
  }
} */
