html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    padding: 0;
    margin: 0;
  }
}

/* Prevent iOS Safari from zooming on input focus */
input,
textarea {
  font-size: 16px;
  font-family: sans-serif;
}
