.listContainer {
  padding: var(--toolbarHeight) 0;
}

.items {
  width: 100%;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  list-style: none;
  margin: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.button {
  background: transparent;
  width: 100%;
  font-size: 18px;
  border: 0 none;
  padding: 1em 0;
}

.buttonInner {
  max-width: 20em;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

@keyframes popout {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tick {
  align-self: flex-end;
  margin-left: auto;
  font-size: 35px;
  height: 45px;
  width: 45px;
  padding: 0;
  color: white;
  background: var(--green);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: 0.1s all ease-in;
}

.showTick {
  opacity: 1;
  transform: scale(1);
  transition: 0.3s all cubic-bezier(0.51, 1.31, 0.37, 1.23);
}
