@import url("https://fonts.googleapis.com/css?family=Acme");

:root {
  --toolbarHeight: 90px;
  --green: rgb(100, 150, 0);
  --red: rgb(150, 50, 0);
}

html {
  box-sizing: border-box;
  background: #eee;
}

body {
  font-family: "Acme", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
