.toolBar {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  background-color: #282c34;
  box-sizing: border-box;
  padding: 1em;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--toolbarHeight);
}

.title {
  color: white;
  margin: 0;
}

.addItem {
  padding: 0.5em 0;
  font-size: 20px;
  text-indent: 1em;
  box-sizing: border-box;
}
